@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="flex">
    <div class="sidebar">
        <button class="icon-btn nav-link-hover nav-link-hover-dashboard" @onclick="() => NavigateToPath(DashboardPath)">
            <i class="icon icon-gauge nav-icon"></i>
        </button>
        <button class="icon-btn nav-link-hover nav-link-hover-images" @onclick="() => NavigateToPath(ImagesPath)">
            <i class="icon icon-image nav-icon"></i>
        </button>
        <button class="icon-btn nav-link-hover nav-link-hover-containers" @onclick="() => NavigateToPath(ContainersPath)">
            <i class="icon icon-container nav-icon"></i>
        </button>
        <button class="icon-btn nav-link-hover nav-link-hover-volumes" @onclick="() => NavigateToPath(VolumesPath)">
            <i class="icon icon-volume nav-icon"></i>
        </button>
        <button class="icon-btn nav-link-hover nav-link-hover-agents" @onclick="() => NavigateToPath(AgentsPath)">
            <i class="icon icon-agent nav-icon"></i>
        </button>
        </div>
    <div class="main-container ma-4">
        @Body
    </div>
</div>

@code
{
    private string DashboardPath = "/dashboard";
    private string ImagesPath = "/images";
    private string ContainersPath = "/containers";
    private string VolumesPath = "/volumes";
    private string AgentsPath = "/agents";

    private void NavigateToPath(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}