<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/ContainerDeck.Shared/base.css" />
    <link rel="stylesheet" href="_content/ContainerDeck.Shared/icons.css" />
    <link rel="stylesheet" href="ContainerDeck.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/ContainerDeck.Shared/favicon.png" />
    <link href="ContainerDeck.Shared.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMCfY/T8EFl/x6aG1PJfWsLtzuY0K81YPmHjBg" crossorigin="anonymous">
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
