<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/ContainerDeck.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/ContainerDeck.Shared/app.css" />
    <link rel="stylesheet" href="_content/ContainerDeck.Shared/custom.css" />
    <link rel="stylesheet" href="ContainerDeck.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/ContainerDeck.Shared/favicon.png" />
    <link href="ContainerDeck.Shared.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script
        src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js"
        type="module" async></script>
    <!-- Set the default theme -->
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
    <loading-theme storage-name="theme"></loading-theme>
</body>

</html>
